.contenedorHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: gray;
}

.contenedorHeader h3 {
    padding-left: 10px;
    color: brown;
}

.contenedorHeader h3:hover{
    color: blue;
}

a {
    text-decoration: none;
}

.contenedorFooter{
    width: 100%;
    border: solid red;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}

.boxFooter{
    border: solid green;
    width: 33.3%;
    text-align: justify;
    padding: 20px;

}

.boxFooter img{
    width: 30px;
    height: 30px;
}

.boxItems{
    display: flex;
    align-items: center;
}

.boxItems img{
    padding-right: 15px;
}

.boxItems a:hover{
    color: brown;
}

.miniBox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.miniBox{
    padding-left: 10px;
}

.contenedor{
    padding-left: 200px;
    padding-right: 200px;
}

.body{
    padding: 0;
    margin: 0;
}

.table{
    width: 100px;
}

.table, th, tr{
    text-align: center;
}

.data1{
    background-color: blue;
    height: 50px;
}

.data2{
    background-color: red;
    height: 50px;
}
.titulo{
    background-color: greenyellow;
    height: 30px;
}
